.about__container{
    .about__img{
        height: 400px;
         
        
        background-repeat: no-repeat;
        background-position:left;
        background-size: inherit;

        
    }
}