.navbar{
    z-index: 1000;
    position: fixed;
    
    .navbar-collapse{
        flex-grow: 0 !important;
    
    }
    .Logo{
        font-weight: 600;
        color: #000000;
        font-style: normal;

    }
    .nav-item{
        &:hover{
            // border-bottom: 2px solid black;
            color: white;
        }
        transition: .2s;
        font-size: 20px;
        font-weight: 400;
        font-style: normal  ;
        color: #000;
        cursor: pointer;
        margin-bottom: 4px !important;
    }
    .vertical{
        // &::after{
        //     content: '|';
        //     padding:0 20px;
        //     height: 100%;
            
        // }
        border-right: 2px solid black;
            
        padding:0 20px ;
    }
    .text-center{
        font-size: 40px !important;
    }

}
.navbar__change{
    transition: .5s;
    background-color: white ;
}